@page
@model TrabajoFinal.Pages.Modulos.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <h1>Módulos</h1>

<p>
    <a asp-page="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modulo[0].cursoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modulo[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modulo[0].Periodo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Modulo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cursoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.moduloID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.moduloID">Detalle</a> |
                <a asp-page="./Delete" asp-route-id="@item.moduloID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
