@page
@model TrabajoFinal.Pages.Cursos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Cursos</h1>

<p>
    <a asp-page="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].docenteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].Periodo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Curso) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.docenteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.cursoID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.cursoID">Detalle</a> |
                <a asp-page="./Delete" asp-route-id="@item.cursoID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
